<!-- dashboard-page.component.html -->

<!-- Stats Section -->
<div class="gghh">
  <section class="stats">
    <div class="seco">
      <app-checkin [cardwidth]="'31rem'"></app-checkin>
    </div>
    <app-attendance-chart ></app-attendance-chart>
  </section>
  
  <div class="dashboard-content" style="display: flex;  flex-direction: row; ">
    <app-leaverequest [cardheight]="'1122px'" [cardwidth]="'850px'" [cardhehight]="'375px'" ></app-leaverequest>
  
        <div class="section-container" >
          <app-tasks [cardwidth]="'450px'"></app-tasks>
          <app-present-employees [cardwidth]="'450px'"></app-present-employees>
          <app-absent-employees [cardwidth]="'450px'"></app-absent-employees>
        </div>
  </div>




  <div style="display: flex; flex-direction: row;">
    <app-adminleaveapprove [cardHeight]="'530px'" [tbodyHeight]="'370px'" [cardwidth]="'53vw'"></app-adminleaveapprove>
    <app-payslip-viewer [cardheighttt]="'700px'" [cardwidth]="'457px'" ></app-payslip-viewer>

  </div>
            <app-attendance-summary></app-attendance-summary>
          <app-employee-report></app-employee-report>
</div>



  