<!-- dashboard-page.component.html -->

<!-- Stats Section -->
<div class="gghh">
  <section class="stats">
    <div class="seco">
      <app-checkin></app-checkin>
    </div>
    <app-attendance-chart ></app-attendance-chart>
  </section>
  
  <div class="dashboard-content">
    <app-leaverequest [cardheight]="'1062px'"></app-leaverequest>
  
    <div class="section-container">
      <app-tasks [cardwidth]="'415px'"></app-tasks>
      <app-present-employees [cardwidth]="'415px'"></app-present-employees>
      <app-absent-employees [cardwidth]="'415px'"></app-absent-employees>
    </div>
  
    <app-adminleaveapprove [cardHeight]="'530px'" [tbodyHeight]="'370px'"></app-adminleaveapprove>
  </div>
          <!-- ATTENDENCE lOG -->
          <app-attendance-summary></app-attendance-summary>
          <app-employee-report></app-employee-report>
</div>
  