        <!-- Stats Section -->
        <section class="stats">
            <app-chart-group-two></app-chart-group-two>
          </section>
          <div class="lr" style="gap: 1rem;">
            <div class="hjg" style="display: flex; flex-direction: column;">
              <app-adminleaveapprove [cardHeight]="'725px'" [tbodyHeight]="'560px'" [cardwidth]="'45vw'"></app-adminleaveapprove>
              <app-employee-report [cardwidth]="'870px'"></app-employee-report>
            </div>

            
            
            <div  class="section-container" >
              <app-tasks></app-tasks>
              <app-present-employees [cardwidth]="'470px'"></app-present-employees>
              <app-absent-employees [cardwidth]="'470px'"></app-absent-employees>
  
            </div>
          </div>
