        <!-- Stats Section -->
        <section class="stats">
            <div class="seco">
              <app-checkin></app-checkin>
            </div>
            <app-attendance-chart></app-attendance-chart>
          </section>
          <div class="lr">
            <app-adminleaveapprove [cardHeight]="'725px'" [tbodyHeight]="'560px'"></app-adminleaveapprove>
            
            
            <div  class="section-container" >
              <app-tasks></app-tasks>
              <app-present-employees [cardwidth]="'450px'"></app-present-employees>
              <app-absent-employees [cardwidth]="'450px'"></app-absent-employees>
  
            </div>
  
          </div>