
.seco {
    width: 40%;
    background-color: #ffffff;
    border: 2px solid #ced4da;
    border-radius: 5px; /* Rounds the corners */
}
.section-container {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  margin-top: -20px; 
  width: 430px;
}
@media (max-width: 1280px) {  
.mainthree{
  width: 1060px !important;
}
}

  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background: #fff;
  }
  
  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    background: #f1f1f1;
    padding: 20px;
    border-radius: 1px;
  }
  
  .dashboard-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 20px;
  }
  

  .mainthree {

  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.mainthree::-webkit-scrollbar {
  display: none; 
}