<aside class="sidebar">
  <div class="logo">Clim It Solutions</div>
  <ul class="nav-links">
    <li><a routerLink="/admin-dashboard/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/admin-dashboard/Applicant" routerLinkActive="active">Applicant Tracker</a></li>
    <li><a routerLink="/admin-dashboard/People" routerLinkActive="active">People</a></li>
    <li><a routerLink="/admin-dashboard/calender" routerLinkActive="active">Who's Away</a></li>
  </ul>
  <button class="logout" (click)="logout()">Log out</button>
</aside>
